<head>
    <meta http-equiv="refresh" content="1"/>
</head>
<body style="margin: 0;">
{% if current_player == 1 %}
<div style="height: 25px; width: 200px; background-color: #FF0000;">Current team</div>
{% endif %}

{% if current_player == 2 %}
<div style="height: 25px; width: 200px; background-color: #00FF00;">Current team</div>
{% endif %}

{% if current_player == 3 %}
<div style="height: 25px; width: 200px; background-color: #0000FF;">Current team</div>
{% endif %}

{% if current_player == 0 %}
<div style="height: 25px; width: 200px; background-color: #26262b;">Current team</div>
{% endif %}
</body>