{% extends 'layout.html' %}

{% block content %}
<div class="container-answer">
    <div class="dummy"></div>
    <div class="answer" id="answer">{{ final['category'] }}</div>
    <div class="dummy"></div>
</div>
<script>
    function advanceFinalRound(ref) {
        current = document.getElementById(ref).innerHTML;

        if (current == "{{ final['category'] }}") {
            document.getElementById(ref).innerHTML = "{{ final['question'] }}";
        }
    }

</script>
<div class="scoring_answer">
    <div class="scoring-teams">
        <div class="scoring-team">Team 1: {{ one }}
        </div>
        <div class="scoring-button">

        </div>
    </div>
    <div class="scoring-teams">
        <div class="scoring-team">Team 2: {{ two }}
        </div>
        <div class="scoring-button">

        </div>
    </div>
    <div class="scoring-teams">
        <div class="scoring-team">Team 3: {{ three }}
        </div>
        <div class="scoring-button">

        </div>
    </div>
    <div class="scoring">
        <button type="button" class="answer-buttons" id="advance"
                onclick="advanceFinalRound('answer')">Advance
        </button>
    </div>
    <form class="scoring-teams" id="score_form" action="{{ url_for('game_result') }}"
          method="POST">
        <div class="scoring">
            <button class="answer-buttons" onclick="alert('Make sure all values are inputed')">Submit</button>
        </div>
    </form>
    <audio controls style='height: 20px; margin-left: 30px;'>
    <source src="static/jeopardy_music.mp3" type='audio/mpeg'>
    </audio>

</div>
{% endblock %}
