<div id="game-container">
    {% for data in gameData %}
    {% if data[0] not in (100, 200, 300, 400, 500, 600, 800, 1000) %}
    <div class="container-button">
        <button class="game-cat-buttons" style="color:white;">{{ data[0] }}</button>
    </div>
    {% else %}
    <div class="container-button">
        <form action="{{ url_for('answer', points=data[0], answer=data[1], question=data[2], color=data[4], index=loop.index) }}"
              method="POST">
            {% if data[4] == '#0047b8' %}
            <button class="game-buttons" style="color:#0047b8;" disabled>${{ data[0] }}</button>
            {% else %}
            <button class="game-buttons" style="color:#e3c102;">${{ data[0] }}</button>
            {% endif %}
        </form>
    </div>
    {% endif%}
    {% endfor %}

</div>