<div class="scoring_answer">
    <div class="scoring-teams">
        <div class="scoring-team">Team 1: {{ team_one_points }}
        </div>
        <div class="scoring-button">
            <button class="answer-buttons">+{{points}}</button>
        </div>
        <div class="scoring-button">
            <button class="answer-buttons">-{{points}}</button>
        </div>
    </div>
    <div class="scoring-teams">
        <div class="scoring-team">Team 2: {{ team_two_points }}
        </div>
        <div class="scoring-button">
            <button class="answer-buttons">+{{points}}</button>
        </div>
        <div class="scoring-button">
            <button class="answer-buttons">-{{points}}</button>
        </div>
    </div>
    <div class="scoring-teams">
        <div class="scoring-team">Team 3: {{ team_three_points }}
        </div>
        <div class="scoring-button">
            <button class="answer-buttons">+{{points}}</button>
        </div>
        <div class="scoring-button">
            <button class="answer-buttons">-{{points}}</button>
        </div>
    </div>
    <form class="scoring-teams" id="score_form" action="{{ url_for('update_game', points=points, index=index) }}" method="POST">
        <div class="scoring">
            <button class="answer-buttons">Submit</button>
        </div>
    </form>
</div>